    <!-- Jquery Core Js -->
    <script src="<%=process.env.ADMIN_ASSETS_URL%>plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="<%=process.env.ADMIN_ASSETS_URL%>plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="<%=process.env.ADMIN_ASSETS_URL%>plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="<%=process.env.ADMIN_ASSETS_URL%>plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="<%=process.env.ADMIN_ASSETS_URL%>plugins/node-waves/waves.js"></script>

    <!-- JQuery Steps Plugin Js -->
    <script src="<%=process.env.ADMIN_ASSETS_URL%>plugins/jquery-steps/jquery.steps.js"></script>

    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="<%=process.env.ADMIN_ASSETS_URL%>plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

    <!-- TinyMCE -->
    <script src="<%=process.env.ADMIN_ASSETS_URL%>plugins/tinymce/tinymce.js"></script>

    <!-- Jquery Validation Plugin Css -->
    <script src="<%=process.env.ADMIN_ASSETS_URL%>plugins/jquery-validation/jquery.validate.js"></script>

    <!-- Custom Js -->
    <script src="<%=process.env.ADMIN_ASSETS_URL%>js/admin.js"></script>
    <script src="<%=process.env.ADMIN_ASSETS_URL%>js/pages/tables/jquery-datatable.js"></script>
    <script src="<%=process.env.ADMIN_ASSETS_URL%>js/pages/forms/form-validation.js"></script>
    <script src="<%=process.env.ADMIN_ASSETS_URL%>js/pages/forms/basic-form-elements.js"></script>
    <script src="<%=process.env.ADMIN_ASSETS_URL%>js/pages/examples/sign-up.js"></script>
    

    <!-- Demo Js -->
    <script src="<%=process.env.ADMIN_ASSETS_URL%>js/demo.js"></script>

    <!-- Ckeditor -->
    <script src="<%=process.env.ADMIN_ASSETS_URL%>plugins/ckeditor/ckeditor.js"></script>

    <script src="<%=process.env.ADMIN_ASSETS_URL%>js/pages/forms/editors.js"></script>

    <!-- Autosize Plugin Js -->
    <script src="<%=process.env.ADMIN_ASSETS_URL%>plugins/autosize/autosize.js"></script>

    <!-- Moment Plugin Js -->
    <script src="<%=process.env.ADMIN_ASSETS_URL%>plugins/momentjs/moment.js"></script>
    
    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="<%=process.env.ADMIN_ASSETS_URL%>plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="<%=process.env.ADMIN_ASSETS_URL%>plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

    <!-- Bootstrap Datepicker Plugin Js -->
    <script src="<%=process.env.ADMIN_ASSETS_URL%>plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <!-- Jquery DataTable Plugin Js -->
    <script src="<%=process.env.ADMIN_ASSETS_URL%>plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="<%=process.env.ADMIN_ASSETS_URL%>plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>

</body>

</html>